/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root{
    --header-height: 6em;
}
/* COMMON */
html{
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 70%;
    margin: 0 auto;
}

.container-small{
    max-width: 60%;
    margin: 0 auto;
    background-color: aquamarine;
}

img :not(.header, .jumbo){
    max-width: 100%;
}

body{
    margin-top: var(--header-height);
}

p,
a{
    font-size: 1.1rem;
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul{
    list-style-type: none;
}

/* HEADER */
header{
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    background-color: white;
}

.flex-header{
    width: 98%;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.flex-header ul{
    display: flex;
    align-items: center;
}

.flex-header li{
    padding: 0.6em 1.2em;
}

.header-left img{
    width: 120%;
    vertical-align: middle;
}

.header-left li:nth-child(2){
    margin-left: 1.2em;
}

.header-right li:last-child{
    margin-left: 0.6em;
    color: white;
    background-color: #0061ff;
}

/* JUMBOTRON */

#jumbo{
    width: 100%;
    background-color: #b4d0e7;
}

#jumbo h1{
    font-size: 5rem;
    font-weight: 800;
    padding: 1em 0 0.6em 0;
}

.flex-jumbo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
}

.jumbo-content{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding-bottom: 6em;
}

.jumbo-content a:nth-child(2){
    width: 60%;
    padding: 1em;
    margin: 2em 0 2em 0;
    color: white;
    background-color: #0061ff;
}

.jumbo-content img{
    position: absolute;
    top: 0;
    left: 100%;
    width: 200%;
}

.jumbo-content i{
    position: absolute;
    bottom: 0.3em;
    left: 0;
    font-size: 3rem;
    font-weight: 800;
}

/* PLAN */
.plan .plan-select{
    width: 100%;
    min-height: 500px;
    background-color: blueviolet;
}

.plan .plan-select h1{
    padding-top: 200px;
    font-size: 3rem;
}

.plan .row{
    width: 100%;
    min-height: 1000px;
    margin: 150px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: thistle;
}

.plan .col{
    width: 30%;
    min-height: 1000px;
    background-color: mediumvioletred;
}

.enterprise{
    width: 100%;
    min-height: 300px;
    background-color: dimgrey;
}

.flex-ent{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 150px;
    padding: 50px;
    margin: 0 auto;
}

.flex-ent .title{
    background-color: aqua;
}

.flex-ent .button{
    width: 30%;
    min-height: 50px;
    background-color: blue;
}

.partner{
    width: 100%;
    min-height: 500px;
    margin: 200px 0;
    background-color: brown;
}

.flex-partner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 500px;
}

.partner-img{
    width: 55%;
    min-height: 500px;
    background-color: cyan;
}

.partner-text{
    width: 40%;
    min-height: 300px;
    background-color: yellow;
}

.operations{
    width: 100%;
    min-height: 1200px;
    background-color: chartreuse;
}

.operations h1,
.adv h1{
    font-size: 2.7rem;
    margin-bottom: 2em;
}

.operations .row{
    width: 100%;
    height: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.operations .col{
    width: 30%;
    height: 450px;
    background-color: red;
}

.adv{
    width: 60%;
    height: 300px;
    background-color: blueviolet;
    margin: 150px 0;
}

.flex-grid{
    width: 100%;
    height: 500px;
    display: flex;
}

.flex-grid .text{
    width: calc(100% / 3);
    height: 500px;
    background-color: gray;
}

.flex-img-left,
.flex-img-right{
    width: calc(100% / 3);
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.flex-img-left *,
.flex-img-right *{
    width: calc(100% / 2);
    height: 250px;
    border: 3px solid red;
    background-color: aqua;
}

.free-try{
    width: 100%;
    background-color: rosybrown;
}

.flex-try{
    width: 60%;
    margin: 0 auto;
    padding: 150px 0;
    display: flex;
    justify-content: space-between;
}

.flex-try h1{
    font-size: 2.7rem;
    width: 50%;
    background-color: royalblue;
}

.flex-try .button{
    width: 25%;
    height: 50px;
    background-color: blueviolet;
}

.questions{
    width: 100%;
    height: 700px;
    background-color: khaki;
}

.flex-questions{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-questions h1{
    font-size: 2.7rem;
    padding-bottom: 1.5em;
}

.question-1,
.question-2,
.question-3{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.flex-questions >* h2{
    width: 70%;
    height: 80px;
    background-color: chartreuse;
}

.flex-questions >* i{
    width: 10%;
    height: 80px;
    background-color: red;
}

footer{
    width: 100%;
    height: 620px;
    background-color: black;
}



footer .row{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .col{
    width: calc(100% / 6);
    height: 300px;
    background-color: yellow;
}

footer .language{
    width: 10%;
    height: 20px;
    padding: 50px;
    border-top: solid white;
    background-color: blueviolet;
}