/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root{
    --header-height: 6em;
}
/* COMMON */
html{
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 70%;
    margin: 0 auto;
}

.container-small{
    max-width: 60%;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

body{
    margin-top: var(--header-height);
}

p,
a,
span{
    font-size: 1.1rem;
}

h2{
    font-size: 1.6rem;
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.a-underline{
    text-decoration: underline;
    color: #0000ee;
}

ul{
    list-style-type: none;
}

/* HEADER */
header{
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
}

.flex-header{
    width: 98%;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.flex-header ul{
    display: flex;
    align-items: center;
}

.flex-header li{
    padding: 0.6em 1.2em;
}

.header-left img{
    min-width: 120%;
    max-width: none;
    vertical-align: middle;
}

.header-left li:nth-child(2){
    margin-left: 1.2em;
}

.header-right li:last-child{
    margin-left: 0.6em;
    color: white;
    background-color: #0061ff;
}

/* JUMBOTRON */

#jumbo{
    width: 100%;
    background-color: #b4d0e7;
}

#jumbo h1{
    font-size: 5rem;
    font-weight: 800;
    padding: 1em 0 0.6em 0;
}

.flex-jumbo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
}

.jumbo-content{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding-bottom: 6em;
}

.jumbo-content a:first-of-type{
    width: 60%;
    padding: 1em;
    margin: 2em 0 2em 0;
    text-align: center;
    color: white;
    background-color: #0061ff;
}

.jumbo-content img{
    position: absolute;
    top: 0;
    left: 100%;
    width: 200%;
    max-width: none;
}

.jumbo-content i{
    position: absolute;
    bottom: 0.3em;
    left: 0;
    font-size: 3rem;
    font-weight: 800;
}

/* PLAN */
#plan h1{
    font-size: 2.8rem;
    padding: 3em 0 1.5em 0;
}

.plan-select .bill{
    display: inline-block;
    padding-right: 2.5em;
}

.plan-select input{
    transform: scale(2);
    width: 2rem;
}

#plan .row{
    width: 100%;
    margin: 70px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#plan .col{
    width: 30%;
    border: 1px solid #d0d0d3;
}

#plan .col-big{
    width: 100%;
    margin-top: 3em;
    border: 1px solid #d0d0d3;
}

.col .button{
    width: 95%;
    padding: 0.8em 0;
    margin: 2em 0;
    text-align: center;
    color: white;
    background-color: #0061ff;
}

.col-head{
    text-align: center;
    padding: 0.8em 0;
    border-bottom: 1px solid #d0d0d3;
}

.col-cont{
    padding: 2em 1.5em;
}

.col-cont a, 
.col-cont span{
    font-size: 1rem;
}

.col-cont h2{
    padding-bottom: 1em;
}

.col-cont h4:first-of-type{
    padding-bottom: 0.5em;
}

.col-cont .period{
    padding-bottom: 3em;
    color: #66686b;
}

.flex-icon{
    display: flex;
    padding-bottom: 1.5em;
}

.flex-icon i{
    padding: 0.2em 0.5em 0 0;
    font-size: 1.2rem;
}

.col-cont h4:last-of-type{
    padding: 7em 0 2em 0;
}

.flex-icon .fa-check{
    color: #0061ff;
}

.flex-ent{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 2em;
    margin: 0 auto;
}

.flex-ent a, 
.flex-ent p{
    font-size: 1rem;
}

.flex-ent .button-ent{
    width: calc(28.5%);
    padding: 0.8em 0;
    text-align: center;
    color: white;
    background-color: #0061ff;
}

.flex-ent h4{
    padding: 1em 0 3em 0;
}

.span-border{
    padding-bottom: 3em;
    border-bottom: 1px solid #d0d0d3;
}

/* PARTNER */
#partner{
    width: 100%;
    padding: 5em 0 10em 0;
}

.flex-partner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 500px;
}

.flex-partner img{
    width: 62%;
}

.partner-text{
    width: 33%;
}

.partner-text p{
    padding: 1em 0 2em 0;
}

.partner-text .button-partner{
    padding: 0.8em 1em;
    border: 1px solid black;
}

/* OPERATIONS */
#operations{
    width: 100%;
}

#operations .row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#operations .col{
    width: 30%;
}

#operations h1{
    font-size: 2.5rem;
    padding-bottom: 1.3em;
}

#operations h2{
    padding: 0.5em 0 0.8em 0;
}

#operations p{
    font-size: 1.05rem;
}

#operations .row div:nth-child(n+4){
    margin-top: 3.5em;
}

/* ADV */
.adv{
    width: 65%;
    margin: 10em 0;
}

.adv h1{
    font-size: 2.7rem;
    padding-bottom: 1em;
}

/* GRID */
.flex-grid{
    width: 100%;
    height: calc(100vw / 3);
    display: flex;
}

.flex-grid .grid-text{
    width: calc(100vw / 3);
    height: 100%;
    padding: 2.5em;
    overflow: auto;
    background-color: #f5f5f5;
}

.flex-grid img:not(.central-img){
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(135deg) brightness(102%) contrast(102%);
    width: 60%;
    /* https://codepen.io/sosuke/pen/Pjoqqp */
}

.flex-grid .central-img{
    width: 50%;
}

.grid-text hr{
    width: 20%;
    margin: 2em 0;
}

.grid-text p{
    padding-bottom: 2em;
}

.flex-img-left,
.flex-img-right{
    width: calc(100vw / 3);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.flex-img-left >*,
.flex-img-right >*{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 2);
    height: calc(100%/2);
    text-align: center;
}

.img-left-1{
    background-color: #a2d39b;
}

.img-left-2{
    background-color: #61082b;
}

.img-left-3{
    background-color: #0093ce;
}

.img-left-4{
    background-color: #ff1c1c;
}

.img-right-1{
    background-color: #d5001f;
}

.img-right-2{
    background-color: #b4d0e7;
}

.img-right-3{
    background-color: #0d2481;
}

.img-right-4{
    background-color: #ffd830;
}

/* TRY */
.free-try{
    width: 100%;
    background-color: rosybrown;
}

.flex-try{
    width: 60%;
    margin: 0 auto;
    padding: 150px 0;
    display: flex;
    justify-content: space-between;
}

.flex-try h1{
    font-size: 2.7rem;
    width: 50%;
    background-color: royalblue;
}

.flex-try .button{
    width: 25%;
    height: 50px;
    background-color: blueviolet;
}

.questions{
    width: 100%;
    height: 700px;
    background-color: khaki;
}

.flex-questions{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-questions h1{
    font-size: 2.7rem;
    padding-bottom: 1.5em;
}

.question-1,
.question-2,
.question-3{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.flex-questions >* h2{
    width: 70%;
    height: 80px;
    background-color: chartreuse;
}

.flex-questions >* i{
    width: 10%;
    height: 80px;
    background-color: red;
}

footer{
    width: 100%;
    height: 620px;
    background-color: black;
}



footer .row{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .col{
    width: calc(100% / 6);
    height: 300px;
    background-color: yellow;
}

footer .language{
    width: 10%;
    height: 20px;
    padding: 50px;
    border-top: solid white;
    background-color: blueviolet;
}